@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Semibold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}


.container{
    width: 370px;
    height: 395px;
    border-radius:  5px;
    box-sizing: border-box;


}
   
.section_pictures{
    height: 205px;
    width: 100%;
    
    position:relative;
}
.image{
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: imagesFading 28s infinite;
}
.image_01 {background-image: url(../img/abstract5.png); 
         animation-delay: 21s;
}
.image_02 {background-image: url(../img/abstract1.png); 
    animation-delay: 14s;
}
.image_03 {
    background-image: url(../img/abstract2.png); 
    animation-delay: 7s;
}
.image_04 {
    background-image: url(../img/abstract3.png); 
    animation-delay: 0s;
}

@keyframes imagesFading {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
.about{
    
    height: 140px;
    background: white;

}
.avatar{
    position:absolute;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    float: left;
    box-shadow: 0 0 0 8px #fff, 0 0 0 9px #888;
    transform: translate(28%,44%); 
    animation: avatarsFading 28s infinite;
}

.avatar_01{
   background-image: url(../img/avatar6.png); 
   animation-delay: 21s; 
}
.avatar_02{
    background-image: url(../img/avatar2.png);  
    animation-delay: 14s;
 }
 .avatar_03{
    background-image: url(../img/avatar3.png); 
    animation-delay: 7s; 
 }
 .avatar_04{
    background-image: url(../img/avatar.png);  
    animation-delay: 0s;
 }
 @keyframes avatarsFading {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } 
 

.comment{
    position: absolute;
    width: 250px;
    height: 140px;
    transform: translate(50%,6%); 
    animation: commentsFading 28s infinite;
}
.comment_01{
    animation-delay: 20s; 
    opacity: 0;
 }
 .comment_02{
     animation-delay: 13s;
     opacity: 0;
  }
  .comment_03{
     animation-delay: 6.5s; 
     opacity: 0;
  }
  .comment_04{
     animation-delay: 0s;
     opacity: 0;
  }
  @keyframes commentsFading {
    0% {
      opacity:0.5;
    }
    10% {
        opacity:1;
      }
    17% {
      opacity:1;
    }
  
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } 


.activity{
    height: 50px;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
    
}
.section_viewed{
   position:relative;
   background: #f6f1ed; 
   height: 100%;
   width:  32.5%;
   display: inline-block;
   margin-right: 0px;
   border-bottom-left-radius: 5px;
}
.pic_viewed{
    position:absolute;
    width: 27px;
    height: 18px;
    background: url(../img/instagram_sprite.png) 0px 0px;  
    top: 30%;
    left: 25%;
    float:left;
}
.pic_viewed:hover{
    background: url(../img/instagram_sprite.png) 0px -20px;   
}

.count_viewed{
position: absolute;
left: 50%;
top: 30%;
animation: count_viewedFading 28s infinite;
font-family: "OpenSans" bold;
color: #b8aca1;
}

.viewed_01{
    animation-delay: 20s; 
    opacity: 0;
 }
 .viewed_02{
     animation-delay: 13s;
     opacity: 0;
  }
  .viewed_03{
     animation-delay: 6.5s; 
     opacity: 0;
  }
  .viewed_04{
     animation-delay: 0s;
     opacity: 0;
  }

  @keyframes count_viewedFading {
    0% {
      opacity:0.5;
    }
    10% {
        opacity:1;
      }
    17% {
      opacity:1;
    }
  
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } 
.section_commented{
    position:relative;
    background: #f6f1ed; 
    height: 100%;
    width:  32.5%;
    display: inline-block;
    margin-right: 0px;
 }
 .pic_commented{
    position:absolute;
    width: 23px;
    height: 19px;
    background: url(../img/instagram_sprite.png) -29px 0px;  
    top: 30%;
    left: 25%;
    float:left;
}
.pic_commented:hover{
    background: url(../img/instagram_sprite.png) -29px -20px;   
    
}
.count_commented{
    position: absolute;
left: 50%;
top: 30%;
animation: count_сommentedFading 28s infinite;
font-family: "OpenSans" bold;
color: #b8aca1;
}
.commented_01{
    animation-delay: 20s; 
    opacity: 0;
 }
 .commented_02{
     animation-delay: 13s;
     opacity: 0;
  }
  .commented_03{
     animation-delay: 6.5s; 
     opacity: 0;
  }
  .commented_04{
     animation-delay: 0s;
     opacity: 0;
  }

@keyframes count_сommentedFading {
    0% {
      opacity:0.5;
    }
    10% {
        opacity:1;
      }
    17% {
      opacity:1;
    }
  
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } 
 .section_liked{
    position:relative;
    background: #f6f1ed; 
    height: 100%;
    width:  32.5%;
    display: inline-block;
    margin-right: 0px;
    border-bottom-right-radius: 5px;
 }
 .pic_liked{
    position:absolute;
    width: 23px;
    height: 19px;
    background: url(../img/instagram_sprite.png) -55px 0px;  
    top: 30%;
    left: 25%;
    float:left;
}
.pic_liked:active {
    background: url(../img/instagram_sprite.png) -55px -20px;   
}
.pic_liked:checked {
    background: url(../img/instagram_sprite.png) -55px -20px;   
}


.count_liked{
position: absolute;
left: 50%;
top: 30%;
animation: count_likedFading 28s infinite;
font-family: "OpenSans" bold;
color: #b8aca1;
}
.liked_01{
    animation-delay: 20s; 
    opacity: 0;
 }
 .liked_02{
     animation-delay: 13s;
     opacity: 0;
  }
  .liked_03{
     animation-delay: 6.5s; 
     opacity: 0;
  }
  .liked_04{
     animation-delay: 0s;
     opacity: 0;
  }

@keyframes count_likedFading {
    0% {
      opacity:0.5;
    }
    10% {
        opacity:1;
      }
    17% {
      opacity:1;
    }
  
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } 

  .center{
      width: 200px;
      margin: 0 auto;
  }