$section-chart_font_family: 'OpenSans', sans-serif;
$section-chart_color_graph_top-green: rgb(84, 188, 117);
$section-chart_color_graph-green: rgb(77, 175, 123);
$section-chart_color_information: rgb(246, 240, 236);
$section-chart_color_modal-window: rgb(142, 128, 113);
